@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Great+Vibes&family=Roboto:wght@400;500&family=Satisfy&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    scroll-behavior: smooth;
}
h1{
    font-size:3vw;
    font-weight: 500;
}
h2{
    font-size: 3vw;
    font-weight: 500;
}

ul{
    list-style: none;
}
p{
    font-size: 1.6vw;
    font-weight: 500;
}
a{
    text-decoration: none;
}
.container{
    padding-inline:4rem;
     display: flex;
     width: 100%;
     /* height: fit-content; */
     /* border: 2px  solid  #6f1ebb; */
 }
/* NAV START */

.home-nav{
    display: flex;
    justify-content: space-between;
    /* background-color: rgba(104, 103, 103, 0.174);
    backdrop-filter: blur(10px); */
    align-items: center;
    padding:.3rem 6rem;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 99;
}
.nav-scroll{
    background-color: rgba(20, 19, 19, 0.247);
    backdrop-filter: blur(10px);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

}
#toggle{
    position: absolute;
    right: 2rem;
    display: none;
    font-size: 2rem;
    color: #6f1ebb;
}
.home-nav img{
    width: 60px;
}
.home-nav ul{
    display: flex;
    gap: 3rem;

}
.nav-links a{
    font-size: 1.2rem;
   color: rgba(255, 255, 255, 0.779);
    position: relative;
    padding-block: .4rem;
}
.nav-links button{
    padding: .5rem 1.7rem;
    background-color: #5b3a79c0;
    border: 0;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: .3s ease-out;
}
.nav-links button:hover{
    transform: translateY(-2px);
    background-color: #8b44a8;
}
.home-nav h1{
    font-size: 3rem;
    font-weight: 700;
    background-image: linear-gradient(to left,rgb(142, 10, 198),rgb(188, 4, 4));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.nav-links a::after{
    position:absolute;
    content: "";
    border: 0px solid #6f1ebb;
    bottom: 0;
    
    width: 0;
    display: block;
    border-radius: 10px;
    left: 0;
    transition: width .3s;
   
   
    
}
.nav-links a:hover::after{
    width: 100%;
    border-width: 2px;
   
   
}

/* NAV END */

/* START ABOUT ME SECTI0N */
.about-me{
    /* border: 2px solid red; */
    height: 110vh;
    background-color: #120e19;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-main{
    display: flex;

}
.about-main>:nth-child(1){
    width: 60%;
    /* border: 2px solid red; */
    display: flex;
    padding: 3rem 1rem;
    line-height: 2.7vw;
    flex-direction: column;
    gap: 2rem;
    color: rgba(255, 255, 255, 0.792);
}
.about-main>:nth-child(1) h2{
    text-align: center;
}
.about-main>:nth-child(1) span{
    color: #bd6be4;
}
#quato{
    color: #695577 ;
    text-align: center;
    margin-top: 1rem;
    font-style: italic;
}
.about-main>:nth-child(2){
    width: 40%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-main>:nth-child(1) .uni_name{
    color: #695577;
    font-style: italic;
}
.about-main img{
width: 100%;
}

/* END ABOUT ME SECTION */

/* START SKILL SECTION */
.skill-section{
    background-color: #120e19;
    padding: 4rem 0;
}
.skill-section h2{
    color: white;
    text-align: center;
    padding: 3rem;
}
.skill-section h2>span{
    color: #bd6be4;
}
.skill{
    /* border: 2px solid red; */
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    justify-content: center;
}
.skill>div{
    width: 100px;
    /* border: 2px solid; */
    width: calc(23% - 4rem);
    text-align: center;
    border-radius: 5px;
    background-color: #2923225b;
    transition: .4s ease-in-out;
    box-shadow: 0px 3px 5px #bd6be4;
    padding: .6rem;
}
.skill>div:hover{
    transform: scale(1.04);
    box-shadow: 0 0 15px 1px #bd6be4;
}
.skill img{
    width: 90px;
    height: 70%;
}
.skill h4{
    margin-top: 1rem;
    color: rgba(255, 255, 255, 0.687);
}

/* END SKILL SECTION  */

/* START EDUCATION SECTION */
.education-detail{
    padding-block: 2rem;
    background-color: #120e19;
}
.education-detail h2{
    text-align: center;
    padding: 2rem;
   
    color: white;
}
.education-detail h1>span{
    color: #8324dc #bd6be4;
}
.education{
    /* border: 2px solid red; */
    display: flex;
    justify-content:space-between ;
}

.edu-left{
    width:55%;
    /* border: 2px solid red; */
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.edu-left>div{
    /* border: 2px solid red; */
    display: flex;
    color: rgb(255, 255, 255);
    gap: 1rem;
    padding: 1.5rem;
    border-radius: 5px;
    background-color: #672b82;
    transition: .1s ease-out;
}
.edu-left>div:hover{
    background-color: #6f1ebb;
}
.edu-left i{
  
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #8324dc;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:1.7rem;
}
.edu-left h4{
    margin-bottom: 1rem;
}
.edu-right{
    width: 35%;
    border: 1px solid #F78A69 #6f1ebb;
}
.edu-right img{
    width: 100%;
}

/* EDUCATION SECTION END */

/* CONTACT SECTION START */
.contact-detail{
    position: relative;
    height: 110vh;
    width: 100%;
    background-color: #120e19;
    padding: 3rem 0;
   
}
.contact-detail h2{
    text-align: center;
    padding: 3rem;
    color: white;

}
.contact-img>img{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 16vw;
}
.contact{
    display: flex;
  gap: 2.5rem;
  align-items: center;
}
.contact>div{
    width: 45%;
    /* border: 2px solid; */
    height: 100%;
}
.contact-form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-form input,textarea{
    padding: .5rem .5rem;
    width: 100%;
    border: 0;
    outline: 0;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.886);
    
}

.contact-form fieldset{
    border-radius: 10px;
    padding: .5rem .5rem;
    font-weight: 500;
    color: #bd6be4;
    border-color: #bd6be4; 
}
.contact-form legend{
    padding-inline: .5rem;
    
}
.contact-form button{
    padding: .5rem 2rem;
    border-radius: 50px;
    border: 0;
    background-color: #bd6be4;
    transition: .2s ease-out;
    font-weight: 500;
    width: fit-content;
    cursor: pointer;
}
.contact-form button:hover{
    background-color: #6f1ebb;
}
.contact-number{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.contact-number>div{
    display: flex;
    gap: 1rem;
    align-items: center;
    color: rgba(255, 255, 255, 0.813);
    
}
.contact-number a{
    height: 2.2rem;
    width: 2.2rem;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #8b44a8;
    color: #120e19;
    font-size: 1.2.5rem;
    transition: .2s ease-out;
}
.contact-number a:hover{
    background-color: #9037e4;
}
.social-icon{
    margin-top: 2rem;
    align-self: center;
}



/* CONTACT SECTION END */

/* FOOTER START */

footer{
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem;
    background-color: #0a0416;
    color: rgba(255, 255, 255, 0.925);
}
footer i{
    margin-right: 1rem;
    color: white;
}
footer i:hover{
    transform: scale(1.2);
}
footer p{
    font-weight: 400;
}



@media screen and (max-width: 768px){
   h1{
    font-size: 6vw;
   }
   h2{
    font-size: 6vw;
   }
   p{
    font-size: 3vw;
   }
   .container{
    padding-inline:3rem ;
   }
    .nav-links{
        flex-direction: column;
        position: absolute;
        top: 4rem;
        right: 50rem;
        text-align: center;
        gap:2rem;
        background-color:#171026;
        width: 100%;
        padding: 1rem;
        transition: .5s;

    }
   .nav-links.active{
    right: 0;
   }
    #toggle{
        display: block;
    }
/* ABOUT SECTION */
    .about-main{

        flex-direction: column;
    }
    .about-main>:nth-child(1){
        width: 100%;
        line-height: 2.4rem;
        text-align: center;
    }
    .about-me{
        height: 160vh;
    }
    .about-main>:nth-child(2){
        width: 100%;
    }

    /* SKILL SECTION */

    .skill>div{
        width: 25%;
    }

    /* EDUCATIONAL SECTION */
    .education{
        flex-direction: column;
    }
    .education>div{
        width: 100%;
    }

    .contact-img{
        display: none;
    }
    .contact{
        flex-direction: column;
    }
    .contact>div{
        width: 100%;
    }
    /* FOOTER */
  
    footer p{
        text-align: center;
    }
   
    
}


@media screen and (max-width: 480px){
    h2{
        font-size: 9vw;
    }
    h3{
        font-size: 4vw;
    }
    p{
        font-size: 4vw;
    }
    .container{
        padding: 1rem;
    }
    h4{
        font-size: 3.5vw;
    }
   
    .home-nav{
        
        padding: .4rem 1rem;
    }
    .about-main{
        margin-top: 8rem;
    }
    .about-main>:nth-child(1){
        
        line-height: 1.5rem;
    }
    .contact-detail{
        height: 130vh;
    }
    .contact-number{
        gap: 1rem;
    }
    .edu-left i{
        height: 40px;
        width: 40px;
        font-size: 1.1rem;
    }
    .skill>div{
        width: 35%;
    }
    footer{
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

}
@media screen and (max-width: 1024px){
.about-me{
    height: 90vh;
}
}